html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  background-color: black; /* Dark background color */
  color: #ffffff; /* Light text color */
  font-family: 'Poppins', sans-serif; /* Default font */
  margin: 0; /* Remove default margin */
}

h1 {
  font-size: 36px; /* Adjust as needed */
  font-family: 'Didot', serif; /* Use Didot for headers */
}

/* Additional styles for other elements as needed */

/* Light Mode Styles */
body.light-mode {
  /* background-color: transparent; Light background */
  color: #fff; /* Dark text */
}

.navbar.light-mode {
  background-color: #f0f0f0; /* Light navbar */
  color: #000000; /* Dark text in the navbar */
}

/* Adjust links in light mode */
body.light-mode a {
  color: #000000; /* Dark links */
}

body.light-mode a:hover {
  background-color: #e0e0e0; /* Lighter hover effect */
}

